*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    background-color: #1F2937;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: white;
    font-weight: 900;
}
.links{
    display: flex;
    gap: 11px;
    list-style: none;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.main-page{
    display: flex;
    padding: 100px;
    gap: 50px;
    align-items: center;
    background-color: #1F2937;
    justify-content: center;
}
.main-page > .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
h1{
    font-size: 48px;
    color: white;
    font-weight: 900;
}
.desc{
    font-size: 18px;
    color: white;
}
button{
    background-color: #3882F6 ;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 9px 27px;
    text-align: center;
}
.image{
    width: 550px;
    height: 250px;
    background-color: rgb(183, 181, 192);
    color: white;
    display: flex;
}
.image p{
    margin: auto;
}
.random{
    background-color: white;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 80px;
}
h2{
    font-size: 24px;
    text-align: center;
    color: black;
    padding: 30px 0;
    font-weight: 900;
}
.pic{
    width: 200px;
    height: 200px;
    border: solid;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 5px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.pic-desc{
    text-align: center;
    width: 200px;
}
.quote{
    background-color: #E5E7EB;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote > .text{
    font-style: italic;
    font-size: 36px;
    width: 70%;
    margin: 0 auto;
}
.credit{
    font-size: 20px;
    font-weight: 900;
    margin-left: auto;
    padding-right: 300px;
}
.offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    width: 70%;
    height: 120px;
    border-radius: 6px;
    margin: 60px auto;
    padding: 0 80px;
}
.offer-part{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h3{
    color: white;
    font-size: 17px;
    font-weight: 900;
}
.desc{
    font-size: 13px;
}
.transparent{
    border: white 1.5px solid;
}
footer{
    background-color: #1F2937;
    padding: 30px 0;
    color: white;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}